@import "tailwindcss";

main article div img:hover {
    filter: brightness(40%);
    cursor: pointer;
  }
  main aside li:hover{
    cursor: pointer;
    color:#34cbb9;
  }
  main aside div:hover {
    cursor: pointer;
  }
